{% extends "homePage/base.html" %}
{% block body_block %}
<div style="text-align:center">
  <h1>
    Welcome to Natural Disaster Analysis!
  </h1>
    <div class="jumbotron">
      <div class="btn">
        <button class="button2" onclick="getFlood()" id="Flood">FLOOD</button>
        <button class="button2" onclick="getWildfire()" id="Wildfire">WILDFIRE</button>
        <button class="button2" onclick="getStorms()" id="Storms">STOMRS</button>
        <button class="button2" onclick="getLandslides()" id="Landslides">LANDSLIDES</button>
        <button class="button2" onclick="getEarthquakes()" id="Earthquakes">EARTHQUAKES</button>
      </div>
    </div>
    <div>
      <img id="matplotlib"></img>
    </div>
  </div>
<script>
  function getFlood() {
    fetch('{% url 'combine:get-flood' %}')
    .then(response => response.text())
    .then((response) => {
       console.log(response)
       document.getElementById('matplotlib').src = 'http://127.0.0.1:8000/' + response
    })
  }
  function getWildfire() {
    fetch('{% url 'combine:get-wildfire' %}')
    .then(response => response.text())
    .then((response) => {
       console.log(response)
       document.getElementById('matplotlib').src = 'http://127.0.0.1:8000/' + response
   })
  }
  function getStorms() {
    fetch('{% url 'combine:get-storms' %}')
    .then(response => response.text())
    .then((response) => {
       console.log(response)
       document.getElementById('matplotlib').src = 'http://127.0.0.1:8000/' + response
    })
  }
  function getLandslides() {
    fetch('{% url 'combine:get-landslides' %}')
    .then(response => response.text())
    .then((response) => {
       console.log(response)
       document.getElementById('matplotlib').src = 'http://127.0.0.1:8000/' + response
    })
  }
  function getEarthquakes() {
    fetch('{% url 'combine:get-earthquakes' %}')
    .then(response => response.text())
    .then((response) => {
       console.log(response)
       document.getElementById('matplotlib').src = 'http://127.0.0.1:8000/' + response
    })
  }
</script>
{% endblock %}