
{% extends "homePage/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center;">Natural Disaster Analysis!</h1>
  </div>
</div>
<div class="container" style="height:340px;">
  <div class="img">
    <img src="media/disaster.jpg" alt="Storm" style="width:500px">
  </div>
  <div class="homePage">
    {% if user.is_authenticated %}
      <h2>Welcome, {{user.username}}</h2>
    <div class="button">
      <a href="{% url 'homePage:dashboard' %}" style="text-align:right;">Dashboard</a>
    </div>
    <div class="button">
      <a href="{% url 'homePage:analysis' %}" style="text-align:right;">Analysis</a>
    </div>
    {% else %}
      <form method="post" action="{% url 'homePage:user_login' %}">
      {% csrf_token %}
      {# A more "HTML" way of creating the login form#}
      <div class="form-group-login">
          <label for="username">Username:</label>
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group-login">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group-login">
        <input type="submit" class="login" name="" value="Login">
        <a class="navbar-link" href="{% url 'homePage:register' %}" style="text-align:right;">New User?</a> 
        </div>
      </form>
    {% endif %}
    </div>
</div>
<script>
  function getFlood() {
    fetch('{% url 'combine:get-floods' %}')
    .then(res => res.blob())
    .then(data => {
      let imgURL = URL.createObjectURL(data)
      document.getElementById('matplotlib').src = imgURL
    })
  }
  function getWildfire() {
    fetch('{% url 'combine:get-wildfire' %}')
    .then(res => res.blob())
    .then(data => {
      let imgURL = URL.createObjectURL(data)
      document.getElementById('matplotlib').src = imgURL
    })
  }
  function getStorms() {
    fetch('{% url 'combine:get-storms' %}')
    .then(res => res.blob())
    .then(data => {
      let imgURL = URL.createObjectURL(data)
      document.getElementById('matplotlib').src = imgURL
    })
  }
  function getLandslides() {
    fetch('{% url 'combine:get-landslides' %}')
    .then(res => res.blob())
    .then(data => {
      let imgURL = URL.createObjectURL(data)
      document.getElementById('matplotlib').src = imgURL
    })
  }
  function getEarthquakes) {
    fetch('{% url 'combine:get-earthquakes' %}')
    .then(res => res.blob())
    .then(data => {
      let imgURL = URL.createObjectURL(data)
      document.getElementById('matplotlib').src = imgURL
    })
  }
</script>
{% endblock %}