{% extends 'homePage/base.html' %}
{% block body_block %}
  <div class="jumbotron">
    <h1 style="text-align:center; text-decoration:underline;">Login Page</h1>
  </div>
  <div class="jumbotron">
    <form method="post" action="{% url 'homePage:user_login' %}">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="submit" name="" value="Login">
        <a href="{% url 'homePage:register' %}">New User?</a> 
      </div>
    </form>
  </div>
{% endblock %}