{% extends "homePage/base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    {% if registered %}
      <h1>Thank you for registering!</h1>
    {% else %}
    <div class="jumbotron">
      <h1 style="text-align:center; text-decoration:underline;">Register Here!</h1>
    </div>
    <div class="jumbotron">
      <div class="form-group">
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %} <!--cross-site request forgery-->
          {{ user_form.as_p }} <!--as_p Render Django form as paragraph-->
          {{ profile_form.as_p }} 
          <input type="submit" class="register" name="" value="Register">
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
